

<!DOCTYPE html>
<html ng-app="EmpApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  <base href="/" />
    <link  href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-route.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/app.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/app/Controllers/controller.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/app/Controllers/ListController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/Controllers/EditController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/Controllers/DeleteController.js")" type="text/javascript"></script>


 
</head>
<body>
   
    <h1>Angular 1</h1>
    <div class="main container" ng-view>

    </div>
</body>
</html>  